.about {
  margin: 55px;
  margin-top: 11.4vh;
  .container {
    display: flex;
    position: relative;
    margin: auto;
    background-color: #fcfcfd;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .img-about {
      margin-left: 5%;
      width: 40%;
      height: auto;
      border-right-style: solid;
      border-right-width: 5px;
      border-right-color: #c5964b;
    }
    .general {
      position: absolute;
      width: 50%;
      height: 70%;
      top: 20%;
      right: 2%;
      box-sizing: border-box;
      font-size: 18px;
      letter-spacing: 1.5px;
      padding: 1rem;
      padding-top: 0;
      .set-text {
        position: absolute;
        left: 5%;
        letter-spacing: 1.2px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        &--icon {
          margin-bottom: 2%;
        }
      }
      .text-larger {
        position: relative;
        font-size: 120px;
        font-weight: bold;
        color: var(--theme-color);
        margin-bottom: -10px;
      }
      .underline {
        position: absolute;
        top: 35%;
        left: 5%;
        height: 2px;
        width: 180px;
        background-color: var(--theme-color);
      }
      .logo-about {
        position: absolute;
        top: -26.3%;
        right: 0;
        font-weight: bold;
        cursor: context-menu;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .about {
    /* margin-top: 5vh; */
    width: 100%;
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fcfcfd;
      width: auto;
      margin: 4%;
      margin-bottom: 0;
      .img-about {
        margin: 0;
        width: 50%;
        border-style: solid;
        border-width: 5px;
        border-color: #c5964b;
      }
      .general {
        display: flex;
        position: relative;
        width: 90%;
        margin-top: 15px;
        right: -1.5%;
        font-size: 18px;
      }
    }
  }
}
