.about {
  margin-top: 10vh;
  .container {
    display: flex;
    position: relative;
    margin: auto;
    background-color: #fcfcfd;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
    .img-about {
      margin-left: 5%;
      width: 40%;
      height: auto;
      border-right-style: solid;
      border-right-width: 5px;
      border-right-color: #c5964b;
    }
    .general {
      position: absolute;
      width: 53%;
      top: 25%;
      right: 0;
      box-sizing: border-box;
      font-size: 18px;
      letter-spacing: 1.5px;
      padding: 1rem;
      padding-top: 0;
      .set-text {
        position: absolute;
        left: 5%;
        letter-spacing: 1.2px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        &--icon {
          margin-bottom: 2%;
        }
      }
      .text-larger {
        position: relative;
        font-size: 120px;
        font-weight: bold;
        color: var(--theme-color);
        margin-bottom: -10px;
      }
      .underline {
        position: absolute;
        top: 35%;
        left: 5%;
        height: 2px;
        width: 180px;
        background-color: var(--theme-color);
      }
      .logo-about {
        position: absolute;
        top: -32%;
        right: 3%;
        font-weight: bold;
        cursor: context-menu;
      }
    }
    &:hover {
      transform: translateY(-2%);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .about {
    margin-top: 0;
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10%;
      padding: 2%;
      padding-bottom: 0;
      margin-bottom: 0;
      border-radius: 10px;
      .img-about {
        margin: 0;
        margin-top: 10px;
        width: 60%;
        border-style: solid;
        border-width: 5px;
        border-color: #c5964b;
        border-radius: 10px;
      }
      .general {
        position: relative;
        width: 96%;
        margin-top: 10px;
        font-size: 16px;
        letter-spacing: 1.2px;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .about {
    .container {
      .img-about {
        width: 90%;
      }
      .general {
        width: 100%;
        margin-top: 5px;
        font-size: 13px;
        letter-spacing: 0.1px;
      }
    }
  }
}
