.area-block {
  max-width: 20%;
}

.font-title {
  font-size: 25px;
  margin: 25px 0px 10px 0px;
  text-transform: uppercase;
  &--wrapper {
    margin: 10px;
    a {
      margin-left: 10px;
    }
  }
}

.wrapper-links {
  display: flex;
  flex-direction: row;
  &.--item {
    flex-direction: column;
  }
}

.contact {
  display: flex;
  justify-content: space-around;
  background-color: #a1572f;
  color: white;
  padding: 0 50px 15px 50px;
  ul {
    margin: 0;
    padding: 0;
    li {
      position: relative;
      list-style-type: none;
      margin: 10px;
      margin-top: 0;
      a {
        color: white;
        text-decoration: none;
        span {
          margin: 10px;
        }
        &::before {
          content: "";
          transition: 300ms;
          height: 3px;
          width: 0%;
          position: absolute;
          background-color: white;
          top: 25px;
          left: -1px;
        }
        &:hover {
          color: white;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    ul li a span {
      margin: 4px;
    }
  }

  .font-title {
    text-align: center;
    &--wrapper {
      margin-bottom: 0;
    }
  }

  .wrapper-links {
    flex-direction: column;
    &.--item {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 15px;
    }
  }
}
