.education {
  &--card {
    display: flex;
    margin: 20px 50px;
    height: 200px;
    background-color: var(--background-block);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    overflow: hidden;
    &--psu {
      width: 35%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url("/psu2.png");
    }
    &--stw {
      width: 35%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url("/stw2.png");
    }
    &--text {
      color: #6c4d5d;
      width: 83%;
      margin: 32px;
      .education-name {
        font-size: 30px;
      }
      .education-major {
        font-size: 20px;
        margin: 10px 0px;
      }
      .education-completed {
        font-size: 20px;
      }
    }
  }
}
