:root {
/*   --background-block: rgb(219, 208, 208); */
  --background-block: rgb(255, 255, 255);
}

.experience {
  display: flex;
  gap: 30px;
  margin: 25px;
  padding: 0;
}

.card {
  box-shadow: 4px 8px 16px -8px rgba(0, 0, 0, 0.4);
  position: relative;
  display: block;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
  &--overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 40px;
    background-color: var(--background-block);
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
  }
  &--header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 40px 0 0 0;
    background-color: var(--background-block);
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
  }
  &:hover .card--overlay {
    transform: translateY(0);
    .card--header {
      transform: translateY(0);
    }
  }
}

.curve {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 99%;
  right: 0;
  z-index: 1;
  path {
    fill: var(--background-block);
  }
}

.circle {
  border-radius: 50%;
}

.text {
  color: #6a515e;
  &--title {
    font-size: 20px;
    margin: 0 0 5px;
  }
  &--status {
    font-size: 16px;
  }
}

.des {
  padding: 0 40px 30px;
  margin: 0;
  color: #6a515e;
  font-size: 15px;
  &--gap {
    padding-left: 15px;
  }
  &--seemore {
    cursor: pointer;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--theme-color);
  }
}

/* Popup Content */

.Popup-wrapper{
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px

}

/* slide Content */

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  &.--active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}

