@import "./navbar.scss";
@import "./home.scss";
@import "./about.scss";
@import "./skills.scss";
@import "./education.scss";
@import "./contact.scss";
@import "./certificate.scss";
@import "./experience.scss";
@import "aos/dist/aos.css";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6c2c7;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

html {
  scroll-behavior: smooth;
  /* background-color: #f6f6f6; */
}
body {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  cursor: context-menu;
}

.brown-color {
  color: var(--theme-color);
}

.light-brown-color{
  color: var(--light-brown-color);
}

.topic-page {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.gap {
  padding-left: 20px;
}

@media only screen and (max-width: 650px) {
  .topic-page {
    font-size: 25px;
  }
}
