:root {
  --theme-color: #7c2424;
  --dark-gray-color: rgb(13, 12, 12);
  --light-brown-color: #bb5454;
}

.header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  inset: 0;
  z-index: 3;
  &--container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  &--logo {
    font-size: 1.5em;
    margin-left: 100px;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    a {
      color: var(--dark-gray-color);
      text-decoration: none; 
    }
  }
  .menu {
    position: absolute;
    display: flex;
    list-style-type: none;
    right: 100px;
    li {
      position: relative;
      a {
        display: block;
        padding: 8px 20px;
        line-height: 50px;
        font-size: 15px;
        color: var(--dark-gray-color);
        text-decoration: none;
        &::before {
          content: "";
          transition: 300ms;
          height: 3px;
          position: absolute;
          background-color: var(--theme-color);
          width: 0%;
          bottom: 15px;
        }
        &:hover {
          color: var(--theme-color);
          &::before {
            width: 70%;
          }
        }
      }
    }
  }
}

.hamburger-menu {
  cursor: pointer;
  .bar-top,
  .bar-middle,
  .bar-bottom {
    width: 35px;
    height: 3.2px;
    background-color: var(--dark-gray-color);
    margin: 8px 25px;
    transition: 0.5s;
  }
  .bar-middle {
    width: 25px;
    margin-left: auto;
  }
  &.--actives {
    .bar-top {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    .bar-middle {
      transform: translateX(16px);
      opacity: 0;
    }
    .bar-bottom {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

.menu-mobile {
  display: none;
  cursor: pointer;
  top: 0;
}

@media only screen and (max-width: 1110px) {
  .menu-mobile {
    display: block;
  }
  .header {
    &--logo {
      font-size: 1.4em;
      margin-left: 10px;
    }
    .menu {
      flex-direction: column;
      top: 44px;
      left: 0;
      width: auto;
      height: 100vh;
      width: 50%;
      background-color: rgb(255, 255, 255);
      padding-left: 18px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
      &.--active {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
      }
      li {
        padding: 0px 20px;
       /*  text-align: center; */
        a {
          &:hover {
            color: var(--theme-color);
            &::before {
              width: 18%;
            }
          }
        }
      }
    }
  }
}
