.skills {
  text-align: center;
  margin-bottom: 0;
  margin: 50px;
  &--block {
    display: flex;
    flex-direction: column;
  }
  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 1.1%;
    li {
      cursor: pointer;
      color: #666666;
      padding: 20px;
      padding-bottom: 0;
      transition: 0.25s ease;
      &:hover {
        color: var(--theme-color);
        transform: translateY(-10%);
      }
    }
  }
}
.custom-icon {
  height: 60px;
  &--background {
    fill: #fff !important;
  }
  &:hover path {
    fill: var(--theme-color);
  }
}

@media only screen and (max-width: 650px) {
  .skills {
    margin-top: 15%;
    margin-bottom: 0;
    &--wrapper {
      margin-top: 15px;
      li {
        padding: 10px;
        a {
          font-size: 10px;
        }
      }
    }
    .custom-icon {
      height: 37.5px;
    }
  }
}
