.skills{
  margin: 0 50px;
  text-align: center;
  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    li {
      color: #666666;
      padding: 20px;
      &:hover {
        color: var(--theme-color);
      }
    }
  }
}
.custom-icon {
  height: 60px;
  &--background {
    fill: #fff !important;
  }
  &:hover path{
    fill: var(--theme-color);
  }
}

